.pet-item {
  position: relative;

  a {
    display: block;
  }

  .pet-item-thumb {
    @include square_image;

    img {
      @include soft_transition;
    }
  }

  .pet-item-thumb:hover {
    img {
      transform: scale(1.05);
    }
  }

  .pet-item-title {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 10px 0;
    color: #fff;
    background: linear-gradient(transparent, rgba(0,0,0,.8));

    .title {
      font-size: 1.6rem;
    }
  }
}